<button type="button" onclick={{action "toggle"}}>
    {{#if @starred}}
    <img src="https://www.clipartsfree.net/vector/medium/checkbox_checked_Clip_Art.png" alt="Smiley face" height="20"
        width="20">
    {{else}}
    <img src="http://www.clker.com/cliparts/e/q/p/N/s/G/checkbox-unchecked-hi.png" alt="Smiley face" height="20" width="20">
    {{/if}}
</button>