<button type="button" onclick={{action "toggle"}}>
    {{#if @starred}}
    <img src="https://techflourish.com/images/google-clip-art-images-11.jpg" alt="Smiley face" height="20" width="20"> {{else}}
    <img src="https://techflourish.com/images/basketball-with-star-clipart-black-and-white-6.png" alt="Smiley face" height="20"
        width="20"> {{/if}}
</button>