<nav class="topnav">

    <a> {{#link-to "index"}} Home {{/link-to }}</a>
    <a>{{#link-to "create"}} Create {{/link-to }}</a>
    <a>{{#link-to "trash"}} Completed
        {{/link-to
        }} </a>

</nav>
{{outlet}}