<nav class="topnav">
    <a>{{#link-to "create"}} Compose {{/link-to }}</a>
    <a> {{#link-to "index"}} Home {{/link-to }}</a>
    <a>{{#link-to "trash"}} Trash
        {{/link-to
        }} </a>
    <a> {{#link-to "sent"}} Sent {{/link-to }}</a>
</nav>
{{outlet}}