<form id="createForm" onsubmit={{action 'createTodo'}}>

    <div>
        <label for="dueDate">Due Date</label>
        {{input type="text" data-test="dueDate" id="dueDate" value=dueDate}}
        <span id="dueDateError" for="dueDateError"></span>

    </div>
    <div>
        <label for="subject">Title</label>
        {{input type="text" data-test="subject" id="subject" value=subject}}
        <span id="subjectError" for="subjectError"></span>
    </div>
    <div>
        <label for="message">Todo Details</label>
        {{textarea rows="8" data-test="message" id="message" cols="80" value=message}}
        <span id="messageError" for="messageError"></span>
    </div>
    <button data-test="send" id="send" type="submit">Save Todo</button>
</form>